<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <!-- Header Section -->
    <div class="text-center mb-16">
        <h1 class="text-4xl md:text-5xl mt-28 font-serif font-bold text-black dark:text-800 mb-4">Gallery</h1>
        <p class="text-lg text-gray-600 max-w-2xl mx-auto">
            Browse through our gallery to catch a glimpse of our distinctive facilities and amenities before you stay at
            the resort.
        </p>
    </div>

    <!-- Gallery Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Image 1 -->
        <div class="group relative overflow-hidden  shadow-lg hover:shadow-2xl transition-all duration-500">
            <img src="gallery01.jpg" alt="Luxury Hotel Room"
                class="w-full h-80 object-cover transform group-hover:scale-105 transition duration-500">

        </div>

        <!-- Image 2 -->
        <div class="group relative overflow-hidden  shadow-lg hover:shadow-2xl transition-all duration-500">
            <img src="gallery02.jpg" alt="Hotel Pool"
                class="w-full h-80 object-cover transform group-hover:scale-105 transition duration-500">

        </div>

        <!-- Image 3 -->
        <div class="group relative overflow-hidden  shadow-lg hover:shadow-2xl transition-all duration-500">
            <img src="gallery03.jpg" alt="Hotel Lobby.jpg"
                class="w-full h-80 object-cover transform group-hover:scale-105 transition duration-500">

        </div>

        <!-- Image 4 -->
        <div class="group relative overflow-hidden  shadow-lg hover:shadow-2xl transition-all duration-500">
            <img src="gallery04.jpg" alt="Hotel Spa"
                class="w-full h-80 object-cover transform group-hover:scale-105 transition duration-500">
        </div>

        <!-- Image 5 -->
        <div class="group relative overflow-hidden  shadow-lg hover:shadow-2xl transition-all duration-500">
            <img src="gallery05.jpg" alt="Hotel Bar"
                class="w-full h-80 object-cover transform group-hover:scale-105 transition duration-500">

        </div>

        <!-- Image 6 -->
        <div class="group relative overflow-hidden  shadow-lg hover:shadow-2xl transition-all duration-500">
            <img src="gallery06.jpg" alt="Hotel View"
                class="w-full h-80 object-cover transform group-hover:scale-105 transition duration-500">

        </div>
    </div>

    <!-- CTA Section -->
    <div class="text-center mt-16">
        <button [routerLink]="['/rooms']"
            class="px-8 py-3 bg-blue-600 text-white font-medium rounded-full hover:bg-amber-700 transition-colors duration-300 shadow-lg hover:shadow-xl">
            Book Your Stay
        </button>
    </div>
</div>